<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>x</key>
        <integer>30</integer>
        <key>y</key>
        <integer>236</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>84</integer>
        <key>y</key>
        <integer>236</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>148</integer>
        <key>y</key>
        <integer>237</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>218</integer>
        <key>y</key>
        <integer>234</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>285</integer>
        <key>y</key>
        <integer>242</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>352</integer>
        <key>y</key>
        <integer>243</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>422</integer>
        <key>y</key>
        <integer>239</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>482</integer>
        <key>y</key>
        <integer>244</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>552</integer>
        <key>y</key>
        <integer>241</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>625</integer>
        <key>y</key>
        <integer>240</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>676</integer>
        <key>y</key>
        <integer>240</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>726</integer>
        <key>y</key>
        <integer>239</integer>
    </dict>
    <dict>
        <key>x</key>
        <integer>763</integer>
        <key>y</key>
        <integer>242</integer>
    </dict>
</array>
</plist>
